
$utilities: map-merge(
  $utilities,
  (
    "background-color": (
      property: background-color,
      class: bg,
      responsive: true,
      state:hover,
      values:(
        green-100:$green-100,
        green-200:$green-200,
        green-800:$green-800,

        gray-100:$gray-100,
        gray-600:$gray-600,

        red-100:$red-100,
      )
    ),
    "color":(
        property:color,
        class:text,
        responsive:true,
        state:hover,
        values:(
            gray-500:$gray-500,

            green-800:$green-800,
            green-500:$green-500,
        )
    ),
    "font-size":(
        property:font-size,
        class:fs,
        responsive:true,
        state:hover,
        values:(10px,12px,14px,16px,18px,20px,24px,28px)
    ),
    "font-weight":(
        property:font-weight,
        class:'fw',
        responsive:true,
        state:hover,
        values:(100,200,300,400,500,600,700,800,900)
    ),
    "text-decoration":(
        property:text-decoration,
        class:text-decoration,
        responsive:true,
        state:hover,
        values:(none,underline)
    ),
    "list-style":(
      property:list-style,
      class:list-style,
      responsive:true,
      state:hover,
      values:(none)
    ),
    "object-fit":(
      property:object-fit,
      class:object-fit,
      responsive:true,
      state:hover,
      values:(cover)
    ),
    "margin-top":(
      property:margin-top,
      class:mt,
      responsive:true,
      state:hover,
      values:(100px)
    )
  )
);

@import "bootstrap/scss/utilities/api";